body {
  background: $main-color;
  font-family: $base-family;
  font-size: $font-size-small;
}

div.content {
  margin: $font-size-base auto 0;
  max-width: 50em;
}

h1, h2 {
  color: $white;
  font-family: $header-font;
}