// Font familes

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$base-font: Helvetica, sans-serif;
$montserrat: 'Montserrat', $base-font;
$base-family: $montserrat;
$header-font: $montserrat;

// Font size

$font-size-base: 36px;
$font-size-small: golden-ratio($font-size-base, -1);
$font-size-large: golden-ratio($font-size-base, 1);

// Colors
$purple: #8959A8;
$main-color: $purple;
$white: lighten($main-color, 50%);