@mixin button($bg: white) {
  $color: lighten($bg, 50%);

  @if (lightness($bg) > 70%) {
    $color: darken($bg, 40%);
  }

  background-color: $bg;
  border: 1px solid darken($bg, 50%);
  border-radius: 4px;
  color: $color;
  display: inline-block;
  font-family: $header-font;
  margin: 0;
  padding: .4em .8em;
  position: relative;
  text-decoration: none;

  &:active {
    background-color: $color;
    color: $bg;
  }
}
