/*----------------------

    Show

-----------------------*/

h1, h2 {
  line-height: 1.3em;
}

h1.five-words {
  font-size: $font-size-base;
  margin: 2em 0 1em;
  text-align: center;
  @include transition(.5s);

  &.answered {
    opacity: 0.4;
  }
}

h2.answer {
  font-size: $font-size-small;
  margin: 3em 0 1em;
  text-align: center;
  @include transition(.5s);

  &.hidden {
    opacity: 0;
  }
}

div.cta {
  height: 77px;
  overflow: hidden;
  text-align: center;

  &.done {
    input#guess, a.next {
      top: -77px;
    }
  }

  input#guess {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid $white;
    color: $white;
    margin-bottom: .5em;
    position: relative;
    text-align: center;
    width: 100%;

    @include placeholder {
      color: rgba($white, 0.5);
    }
    @include transition(top .2s);

    &:focus {
      outline: none;
    }
  }
}

a.reveal, a.next {
  @include button($white);
  font-size: $font-size-small;
}

ul.results {
  li {
    background: transparent url(no.png) no-repeat -1.5em center;
    cursor: pointer;
    @include transition(padding-left .2s ease-in-out, background-position-x .2s ease-in-out);

    &.correct { background-image: url(yes.png); }

    &:hover,
    &:focus,
    &.selected {
      padding-left: 1.5em;
    }

    &.selected {
      background-position-x: left;
    }
  }
}

div.actions {
  text-align: center;
}

/*----------------------

    Index

-----------------------*/

a.new {
  @include button($white);
}

ul {
  &.backend {
    margin-left: 25%;
    margin-bottom: 1em;

    li {
      background-image: url(dot.png);

      &.selected {
        background-position-x: .5em;
      }
    }
  }

  margin-top: 1em;

  li {
    line-height: 2em;

    a {
      display: inline-block;
      text-decoration: none;

      &.five-words {
        width: 30em;
      }

      &.edit {
        width: 3em;
      }
    }
  }
}
