/*----------------------

    Show

-----------------------*/

h1, h2 {
  line-height: 1.3em;
}

h1.five-words {
  font-size: $font-size-base;
  margin: 2em 0 1em;
  text-align: center;
  @include transition(.5s);

  &.answered {
    opacity: 0.4;
  }
}

h2.answer {
  font-size: $font-size-small;
  margin: 3em 0 1em;
  text-align: center;
  @include transition(.5s);

  &.hidden {
    opacity: 0;
  }
}

input#guess {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid $white;
  color: $white;
  margin-bottom: 0;
  text-align: center;
  width: 100%;

  @include placeholder {
    color: rgba($white, 0.5);
  }

  &:focus {
    outline: none;
  }
}

div.actions {
  text-align: center;
  margin-top: $font-size-base * 2;

  a.reveal, a.random {
    @include button($white);
    font-size: $font-size-small;
  }
}

ul.results {
  li {
    background-position-x: -1em;
    cursor: pointer;
    @include transition(padding-left .2s, background-position-x .2s);

    &:hover,
    &:focus,
    &.selected {
      padding-left: 1em;
    }

    &.selected {
      background: transparent url(dot.png) no-repeat .35em center;
    }
  }
}

/*----------------------

    Index

-----------------------*/

a.new {
  @include button($white);
}

ul {
  margin-top: 1em;

  li {
    line-height: 2em;

    a {
      display: inline-block;
      text-decoration: none;

      &.five-words {
        width: 30em;
      }

      &.edit {
        width: 3em;
      }
    }
  }
}
